@{
    // Server-side theme logic (optional)
    var defaultTheme = "dark"; // You can make this dynamic based on user settings, time, etc.
    var currentHour = DateTime.Now.Hour;
    
    // Example: Auto dark mode between 6 PM and 6 AM
    if (currentHour >= 18 || currentHour < 6)
    {
        defaultTheme = "dark";
    }
    else
    {
        defaultTheme = "light";
    }
}

<!DOCTYPE html>
<html lang="en" data-theme="@defaultTheme">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Duende IdentityServer</title>
    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    
    <!-- add font awesome -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">


    <!-- Bootstrap removed - using custom CSS only -->
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <partial name="_Nav" />
   
    <div class="main-container">
        @RenderBody()
    </div>

    <!-- Theme Configuration -->
    <!-- Moved inline theme script to external file -->


    @RenderSection("scripts", required: false)
</body>
</html>
